Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#RewriteCond %{HTTP_HOST} ^www.picms.ru$
#RewriteRule ^(.*)$ http://picms.ru/$1 [NC,R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php